body {
  margin: 0;
  padding: 0;
}
.ant-layout-sider::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
}

.ant-layout-sider::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Radius of the scrollbar thumb */
}
